.EachListing {
    background-color: #efefef;
    height: auto;
    min-height:100vh;
}

.EachListing-break1 {
    height:110px;
}

.EachListing-content{
    height:auto;
    display:flex;
    justify-content: center;
}

.EachListing-header {
    margin-bottom:20px;
}

.EachListing-title {
    margin-bottom:0px;
}

.EachListing-post-by {
    font-size: small;
    font-style: italic;
}

.EachListing-keyboard {
    text-align:center;
}

.EachListing-keyboard-img {
    width:80vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.EachListing-properties{
    font-size:medium;
}

.EachListing-reviews{
    margin-top:30px;
}

.EachListing-comment{
    margin-bottom: 15px;
    font-weight: 600;
}

.EachListing-comments-existing{ 
}
.EachListing-comments-existing-div{ 
    margin-top:10px;
    margin-bottom:10px; 
    padding-left: 10px;
    width: 75vw;
}

.EachListing-comments-existing-username{  
    width: 80vw;
    font-weight:600;
}

.EachListing-comments-existing-comment{  
    padding-left: 10px;
}

.EachListing-comment-input{
    margin-top:10px;
}

.EachListing-add-comment{
    border-radius:50px;    
    padding-left: 10px;
    width: 80vw;
}

.EachListing-comment-errorMessage{  
    padding-left: 10px;
    width: 80vw;
    color: red;
}
.EachListing-comment-submit{
    border-radius:50px;
    margin-top:20px;
    margin-bottom:20px;
}
