.Create {
    background-color: #efefef;
    height: auto;
    min-height: 100vh;
}

.Create-navbar-color {
    background-color: #3b3b6b !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f1f1f1;
    font-size: large;
}

.Create-navbar-links {
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Inder', sans-serif;
}

.Create-break1 {
    height: 110px;
}

.Create-container {
    width: 80vw;
}

.Create-container-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Create-osCompatibility-label {
    margin-left: 8px;
    margin-right: 20px;
}

.Create-keyboardSize-label {
    margin-left: 8px;
    margin-right: 20px;
}

.Create-keycapMaterial-label {
    margin-left: 8px;
    margin-right: 20px;
}

.Create-div-input-error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.Create-container-div-osCompatibility-input {
    margin-right: 10px;
}

.Create-container-div-osCompatibility {
    display: flex;
    flex-wrap: wrap;
}

.Create-container-div-keycapMaterial {
    display: flex;
    flex-wrap: wrap;
}