.Edit {
    background-color: #efefef;
    height: auto;
    min-height:100vh;
}
.Edit-navbar-color{
    background-color: #3b3b6b !important;
}
.navbar-light .navbar-nav .nav-link {
    color:#f1f1f1;
    font-size: x-large;
}
.navbar-links{
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Inder', sans-serif;
}
.Edit-break1 {
    height:110px;
}

.Edit-container {
    width: 80vw;
}
.Edit-container-div {
    margin-top:10px;
    margin-bottom:10px;
    
}
.Edit-div-input-error {
    margin-top:10px;
    margin-bottom:10px;
    color:red;
}