.HomePage {
  background-color: #efefef;
  height: 100vh;
}

.HomePage-content-box{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
background-image:url('background.jpeg');
background-repeat:no-repeat;
background-size:cover;
}

.HomePage-logo {
  height: 15vh;
}

.HomePage-text {
  text-align:center;
  margin-top:10px;
  margin-bottom:10px
}

.HomePage-inspire,.HomePage-or,.HomePage-be-inspired{
  margin-top:15px;
  margin-bottom:15px;
  border-radius: 20px;
  background-color: white;
  opacity:.85;
}