.Listings {
    background-color: #efefef;
    height: auto;
    min-height: 100vh;
}

.Listings-navbar-color{
    background-color: #f1f1f1 !important;
}
.navbar-links{
    font-size: large;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Inder', sans-serif;
    color:#d24847;
}

.Listings-card-img {
    height: 200px;
    object-fit: cover;
}

.Listings-card-title {
    height: 50px;
    font-family: 'Inder', sans-serif;
    font-size:x-large;
    font-weight:600;
}
.Listings-badge{
    font-family: 'Inder';
    font-weight: bold;
    font-size: smaller;
}
.Listings-card-text {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 50px;
    max-height: 50px;
    overflow-y: auto;
}

.Listings-break {
    height: 110px;
    position: sticky;
}

.Listings-search-div {
    width: 80vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #e8cd84;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    left: 0;
    right: 0;
    padding: 25px;
    border-radius: 20px;
}

.Listings-search-header {
    margin-bottom: 10px;
}
.Listings-search-error{
    color:red;
    margin-top:5px;
}
.Listings-search-close {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    float: right;
}

.Listings-search-label {
    font-size: large;
    margin-right: 10px;
    font-weight: 700;
}

.Listings-filter-label {
    display: inline-block;
    margin-right: 10px;
    width: 130px;
}

.Listings-filter-label-keyboard {
    display: inline-block;
    margin-right: 10px;
    margin-bottom:10px;
    width: 130px;
}

.Listings-filter-options {
    display: inline-block;
    /* margin-left: 0px; */
}

.Listings-multiselect-options {
    margin-right: 10px;
}

.Listings-multiselect {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 45vw;
}

.Listings-multiselect-options-brands{
    height: 100px;
    overflow-y: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.Listings-break1 {
    height: 25px;
    position: sticky;
}

.Listings-delete-close {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    float: right;
}
.Listing-delete-display{
    position: fixed;
    z-index: 100;
    padding:20px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left: 0;
    right: 0;
    width: 80vw;
    background-color: #e8cd84;
    border-radius: 20px;
}
.Listings-edit-close {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    float: right;
}
.Listing-edit-display{
    position: fixed;
    z-index: 100;
    padding:20px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left: 0;
    right: 0;
    width: 80vw;
    background-color: #e8cd84;
    border-radius: 20px;
}
.verification-title{
    color: #3b3b6b;
    font-weight: 600;
}
.verification-details{
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #3b3b6b;
    font-weight: 600;
}
.verification-details-span{
    font-weight: bold;
    color: #d96562;
    font-size: large;
}

.verification-status{
    margin-top: 10px;
    color: red;
    font-size: medium;
}
.verify-button{
    margin-top:20px;
    margin-bottom:10px;
}
.verify-buttons{
    margin-right:20px;
}